
@{
    ViewBag.Title = "Thông báo";
    Layout = "~/Views/Shared/_LayOutPhieuYeuCau.cshtml";
}

<div class="alert alert-success khonghinhnen" style="width: 500px ; height: 70px; position:relative; text-align:center;">
    Đăng ký thành công! <br />
    Nhấp để trở về <a href="/">trang chủ </a>
</div>
