@model IEnumerable<QL_ThuVien.Models.PhieuYeuCau>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayOutPhieuYeuCau.cshtml";

}
<script type="text/javascript">
    $(document).ready(function () {

        $('#TK1').click(function () {
            var cmb = document.getElementById("SoThe")
            $.ajax({
                type: "GET",
                url: '/PhieuYeuCaus/SearchSoThe/',
                data: { 'id': cmb.value },
                success: function (result) {
                    $('#ViewST').html(result)
                }
            })
        })


        $('#TK2').click(function () {
            var cmb = document.getElementById("SDKCB")
            $.ajax({
                type: "GET",
                url: '/PhieuYeuCaus/SearchSDKCB/',
                data: { 'id': cmb.value },
                success: function (result) {
                    $('#ViewSDKCB').html(result)
                }
            })
        })

    })

</script>


<div class="col-sm-1"></div>

<div class="col-sm-10 khonghinhnen">
    <div class="col-sm-5 khonghinhnen">
        <br />
        <h2 class="tieude text-center">Mã thẻ</h2>
        <div class="col-sm-5"><b class="khonghinhnen"></b><br /><input type="text" id="SoThe" value="TV00001" class="form-control" /><input type="button" id="TK1" value="Tim Kiem" /></div>
        <br /><br /> <span id="ViewST"></span>
        @*<p>
                <a href="/PhieuyeuCaus/Create"><input type="button" value="Tạo phiếu mới" class="btn btn-success" /></a>
            </p>*@
        <table class="table" ng-app="myapp"></table>
    </div>
    <div class="col-sm-5 khonghinhnen">
        <br />
        <h2 class="tieude text-center">Mã sách</h2>
        <div class="col-sm-5"><b class="khonghinhnen"></b><br /><input type="text" id="SDKCB" value="M00001" class="form-control" /> <input type="button" id="TK2" value="Tim Kiem" /></div>
        <a href="/PhieuYeuCaus/CreatePYC/"><input type="button" class="btn btn-success" value="Mượn" id="Muon" /></a>
        <br /><br />
        <span id="ViewSDKCB"></span>

        @*<p>
                <a href="/PhieuyeuCaus/Create"><input type="button" value="Tạo phiếu mới" class="btn btn-success" /></a>
            </p>*@
        <table class="table" ng-app="myapp"></table>
    </div>
    </div>
    <div class="col-sm-1"></div>
