<!DOCTYPE html>
<html>@{ 
    QL_ThuVien.Areas.Admin.Controllers.LoginController login = new QL_ThuVien.Areas.Admin.Controllers.LoginController();
    QL_ThuVien.Areas.Admin.Controllers.LoginController.UserLogin userLogin = new QL_ThuVien.Areas.Admin.Controllers.LoginController.UserLogin();
}
<a href="~/Areas/Admin/Controllers/LoginController.cs">~/Areas/Admin/Controllers/LoginController.cs</a>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Magz is a HTML5 & CSS3 magazine template is based on Bootstrap 3.">
    <meta name="author" content="Kodinger">
    <meta name="keyword" content="magz, html5, css3, template, magazine template">
    <!-- Shareable -->
    <meta property="og:title" content="HTML5 & CSS3 magazine template is based on Bootstrap 3" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://github.com/nauvalazhar/Magz" />
    <meta property="og:image" content="https://raw.githubusercontent.com/nauvalazhar/Magz/master/images/preview.png" />
    <title>Phiếu yêu cầu</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/PhieuYeuCau/scripts/bootstrap/bootstrap.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="~/Content/PhieuYeuCau/scripts/ionicons/css/ionicons.min.css">
    <!-- Toast -->
    <link rel="stylesheet" href="~/Content/PhieuYeuCau/scripts/toast/jquery.toast.min.css">
    <!-- OwlCarousel -->
    <link rel="stylesheet" href="~/Content/PhieuYeuCau/scripts/owlcarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/PhieuYeuCau/scripts/owlcarousel/dist/assets/owl.theme.default.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/PhieuYeuCau/scripts/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/PhieuYeuCau/scripts/sweetalert/dist/sweetalert.css">
    <!-- Custom style -->
    <link rel="stylesheet" href="~/Content/PhieuYeuCau/css/style.css">
    <link rel="stylesheet" href="~/Content/PhieuYeuCau/css/skins/all.css">
    <link rel="stylesheet" href="~/Content/PhieuYeuCau/css/demo.css">

    <script src="@Url.Content("~/Content/js/jquery-1.11.3.min.js")"></script>
    <link href="~/Content/PhieuYeuCau/css/cssprivate.css" rel="stylesheet" />
</head>
<body class="skin-orange canhle">

    <header class="primary">
        @*<div class="firstbar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="brand">
                                <a href="index.html">
                                    <img src="~/Images/so-thong-thai.jpg" alt="Magz Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <form class="search" autocomplete="off">
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control" id="valuesSearch">
                                            <option value="0">---</option>
                                            <option value="1">Tìm bằng mã đăng ký cá biệt</option>
                                            <option value="2">Tìm bằng số thẻ</option>

                                        </select>
                                        <input type="text" name="q" class="form-control" id="GiaTriSearch" placeholder="Type something here">
                                        <div class="input-group-btn">
                                            <input type="button" class="btn btn-primary" id="TK9" value="Search">
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-md-3 col-sm-12 text-right">
                            <ul class="nav-icons">
                                <li><a href="register.html"><i class="ion-person-add"></i><div>Register</div></a></li>
                                <li><a href="/Admin/Login"><i class="ion-person"></i><div>Login</div></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>*@
        <!-- Start nav -->
        <nav class="menu">
            <div class="container">
                <div class="brand">
                    <a href="#">
                        @*<img src="images/logo.png" alt="Magz Logo">*@
                    </a>
                </div>
                <div class="mobile-toggle">
                    <a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
                </div>
                <div class="mobile-toggle">
                    <a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
                </div>
                <div id="menu-list">
                    <ul class="nav-list">
                        <li class="for-tablet nav-title"><a>Menu</a></li>
                        @if (QL_ThuVien.Models.Comand.NV_Level == 1)
                        {
                            <li><a href="~/HoatDong/">Home</a></li>
                            <li><a href="/BanDoc">Quản lý bạn đọc</a></li>
                            <li><a href="/Admin/Admintailieux/">Sách</a></li>
                            <li class="dropdown magz-dropdown">

                                <a href="#">Hoạt động<i class="ion-ios-arrow-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/HoatDong/getlist">Thêm hoạt động</a></li>
                                    <li><a href="/HinhAnhHoatDongs/">Hình ảnh cho hoạt động</a></li>
                                </ul>
                            </li>
                            <li class="dropdown magz-dropdown">

                                <a href="#">Phiếu yêu cầu<i class="ion-ios-arrow-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/PhieuYeuCaus/">Lập phiếu mới</a></li>
                                    <li><a href="/PhieuYeuCaus/getList">Xem danh sách phiếu đã lập</a></li>
                                </ul>
                            </li>
                            <li><a href="/Admin/Login/">Đăng xuất</a></li>
                        }
                        else if (QL_ThuVien.Models.Comand.NV_Level == 2)
                        {
                            <li class="dropdown magz-dropdown">

                                <a href="#">Phiếu yêu cầu<i class="ion-ios-arrow-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/PhieuYeuCaus/">Lập phiếu mới</a></li>
                                    <li><a href="/PhieuYeuCaus/getList">Xem danh sách phiếu đã lập</a></li>
                                </ul>
                            </li>
                            <li><a href="/Admin/Login/">Đăng xuất</a></li>
                        }
                        else if (QL_ThuVien.Models.Comand.NV_Level == 3)
                        {
                            <li><a href="/Admin/Admintailieux/">Sách</a></li>
                            <li><a href="/Admin/Login/">Đăng xuất</a></li>
                        }
                        else if (QL_ThuVien.Models.Comand.NV_Level == 4)
                        {
                            <li><a href="/BanDoc">Quản lý bạn đọc</a></li>
                            <li><a href="/Admin/Login/">Đăng xuất</a></li>
                        }
                        @*<li><a href="~/HoatDong/">Home</a></li>
                            <li><a href="/BanDoc">Quản lý bạn đọc</a></li>
                            <li><a href="/Admin/Admintailieux/">Sách</a></li>
                            <li class="dropdown magz-dropdown">

                                <a href="#">Hoạt động<i class="ion-ios-arrow-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/HoatDong/getlist">Thêm hoạt động</a></li>
                                    <li><a href="/HinhAnhHoatDongs/">Hình ảnh cho hoạt động</a></li>
                                </ul>
                            </li>

                            <li class="dropdown magz-dropdown">

                                <a href="#">Phiếu yêu cầu<i class="ion-ios-arrow-right"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/PhieuYeuCaus/">Lập phiếu mới</a></li>
                                    <li><a href="/PhieuYeuCaus/getList">Xem danh sách phiếu đã lập</a></li>
                                </ul>
                            </li>
                            <li><a href="/Admin/Login/">Đăng xuất</a></li>*@
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End nav -->
    </header>

    <section class="home">
        <div class="container">
            <div class="row">
                <span id="View9">

                    @RenderBody()
                </span>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $(document).ready(function () {
            var cmbsothe = document.getElementById("SoThe");
            if (cmbsothe.value != "") {
                $.ajax({
                    type: "GET",
                    url: '/PhieuYeuCaus/SearchSoThe/',
                    data: { 'id': cmbsothe.value },
                    success: function (result) {
                        $('#ViewST').html(result)
                    }
                })
            }

            $('#SoThe').change(function () {
                var cmb = document.getElementById("SoThe");
                //alert(cmb.value)
                $.ajax({
                    type: "GET",
                    url: '/PhieuYeuCaus/SearchSoThe/',
                    data: { 'id': cmb.value },
                    success: function (result) {
                        $('#ViewST').html(result)
                    }
                })
                $.ajax({
                    type: "GET",
                    url: '/PhieuYeuCaus/TimKiemSearch/',
                    data: { 'id': cmb.value, 'id2': 2 },
                    success: function (result) {
                        $('#ViewList').html(result)
                    }
                })
            })
            var cmbsdkcb = document.getElementById("SDKCB");
            if (cmbsdkcb.value != "") {
                $.ajax({
                    type: "GET",
                    url: '/PhieuYeuCaus/SearchSDKCB/',
                    data: { 'id': cmbsdkcb.value },
                    success: function (result) {
                        $('#ViewSDKCB').html(result)
                    }
                })
            }

            $('#SDKCB').change(function () {
                var cmb = document.getElementById("SDKCB");
                //alert(cmb.value)
                $.ajax({
                    type: "GET",
                    url: '/PhieuYeuCaus/SearchSDKCB/',
                    data: { 'id': cmb.value },
                    success: function (result) {
                        $('#ViewSDKCB').html(result)
                    }
                })
            })

            $('#GiaTriSearch').change(function () {
                var cmb1 = document.getElementById("valuesSearch");
                var cmb = document.getElementById("GiaTriSearch");
                if (cmb1.value <= 0) {
                    alert("Vui lòng chọn tìm bằng gì trước :)");
                } else if (cmb.value <= 0) {
                    alert("Vui lòng nhập giá trị tìm kiếm :D");
                } else
                    $.ajax({
                        type: "GET",
                        url: '/PhieuYeuCaus/TimKiemSearch/',
                        data: { 'id': cmb.value, 'id2': cmb1.value },
                        success: function (result) {
                            $('#ViewList').html(result)
                        }

                    })

            })


            $('#Muon').click(function () {
                var cmb1 = document.getElementById("SDKCB");
                var cmb = document.getElementById("SoThe");
                $.ajax({
                    type: "GET",
                    url: '/PhieuYeuCaus/CreatePYC/',
                    data: { 'id': cmb.value, 'id2': cmb1.value },
                    success: function (result) {
                        $('#ViewList').html(result)
                    }
                })
            })


        })

    </script>

    <!-- JS -->
    <script src="~/Content/PhieuYeuCau/js/jquery.js"></script>
    <script src="~/Content/PhieuYeuCau/js/jquery.migrate.js"></script>
    <script src="~/Content/PhieuYeuCau/scripts/bootstrap/bootstrap.min.js"></script>
    <script>var $target_end = $(".best-of-the-week");</script>
    <script src="~/Content/PhieuYeuCau/scripts/jquery-number/jquery.number.min.js"></script>
    <script src="~/Content/PhieuYeuCau/scripts/owlcarousel/dist/owl.carousel.min.js"></script>
    <script src="~/Content/PhieuYeuCau/scripts/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/PhieuYeuCau/scripts/easescroll/jquery.easeScroll.js"></script>
    <script src="~/Content/PhieuYeuCau/scripts/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/PhieuYeuCau/scripts/toast/jquery.toast.min.js"></script>
    <script src="~/Content/PhieuYeuCau/js/demo.js"></script>
    <script src="~/Content/PhieuYeuCau/js/e-magz.js"></script>
</body>
</html>